.topbar {
  background-color: #1c1f26;
  height: 60px;
  width: 100%;
}

.icon-btn {
  width: 40px;
  height: 40px;
  border: 1px solid #555;
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .icon-btn:hover {
  background-color: #333;
} */

.search-container {
  position: relative;
  width: 50vw; /* or any desired width */
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #aaa;
  font-size: 1rem;
  pointer-events: none;
}

.search-input {
  background-color: #1c1f26;
  border: 1px solid #4a4f58;
  border-radius: 6px;
  padding: 8px 12px 8px 36px; /* left padding for icon */
  color: white;
  font-size: 0.95rem;
}

.search-input::placeholder {
  color: #aaa;
}

.icon-layer {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.fade-in {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: auto;
}

.fade-out {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.5);
  pointer-events: none;
}

.search-list{
  padding: 10px;
}

.search-list li{
  margin-bottom: 20px;
  padding-bottom: 10px;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}


