# Node.js
node_modules/
dist/*
build/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env
.env.*.local

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# IDE-specific files (examples)
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db