.selectPopup {
  width: 100%;
  /* max-width: 400px; */
  font-family: Arial, sans-serif;
  position: relative;
}


.selectBox {
  /* background: #1d1d1d; */
  /* border-bottom: 1px solid rgb(176, 195, 204) !important; */
  /* border-radius: 5px; */
  padding: 10px;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chevron {
  transition: transform 0.3s ease;
}

.chevron.rotate {
  transform: rotate(180deg);
}

/* Modal styles */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999999;
}

.modalContent {
  background-color: var(--color-border) !important;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  padding: 20px;
  z-index: 999999999;
  
}

.modalTitle {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
}

.modalOptions {
  max-height: 250px;
  overflow-y: auto;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;

  /* Add space top & bottom for scrollbar */
  padding-top: 10px;
  padding-bottom: 10px;
}

.popupItem {
    padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.popupItem:hover {
  background: var(--color-background);
}

/* .popup-item input {
  accent-color: var(--color-primary-green);

  transform: scale(1.2);
} */

.closeBtn {
  background: var(--color-primary-green);
  color: #000000;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  float: right;
}

.closeBtn:hover {
  background: var(--color-primary-green);
}

.clearBtn{
    background: var(--color-primary-green);
  color: #000000;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  float: left;
}

/* CheckBox round */
/* Make checkboxes circular */
.popupItem input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid var(--color-primary-green);
  border-radius: 50%; /* makes it circular */
  outline: none;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
}

/* Checked state */
.popupItem input[type="checkbox"]:checked {
  background-color: var(--color-primary-green);
  border-color: var(--color-primary-green);
}

/* Add inner dot for checked */
.popupItem input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
}


.popupItem {
  display: flex;
  justify-content: space-between; /* text left, checkbox right */
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background 0.2s;
}



.optionText {
  flex: 1; /* pushes checkbox to right */
}














