.styled-checkbox{
    width: auto !important;
} 

.custom-radio {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #bfc9d5;
  font-size: 0.95rem;
  cursor: pointer;
}

.custom-radio input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 24px;
  border: 2px solid #bfc9d5;
  border-radius: 50%;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.custom-radio input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #0d6efd; /* Bootstrap blue or change to your theme */
}

.radio-label {
  user-select: none;
}

.createChatRoomButton button{
    background-color: var(--color-primary-green);
    color: black;
    border: 0;
}
