/* Custom Input - Dark Theme */
.custom-input-dark {
  background-color: var(--color-border); 
  border: 1px solid #343a40; /* Changed to green border */
  color: #ffffff;
  border-radius: 6px;
  padding: 10px 12px;
  font-size: 1rem;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.custom-input-dark::placeholder {
  color: #b0b3b8;
  opacity: 1;
}

.custom-input-dark:focus {
  border-color: #343a40;
  outline: none;
  box-shadow: 0 0 0 2px rgba(40, 167, 69, 0.2);
  background-color: var(--color-border);
  color: #ffffff;
}


/* Custom Textarea - Dark Theme */
.custom-textarea-dark {
  background-color: var(--color-background, #343a40);
  border: 1px solid #343a40; /* Changed to green border */
  color: #ffffff;
  border-radius: 6px;
  padding: 12px;
  resize: vertical;
  font-size: 1rem;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.custom-textarea-dark::placeholder {
  color: #b0b3b8;
  opacity: 1;
}

.custom-textarea-dark:focus {
  outline: none;
  border-color: #343a40;
  box-shadow: 0 0 0 2px rgba(40, 167, 69, 0.2);
  background-color: var(--color-border);
}


/* Custom Submit Button */
.custom-submit-btn {
  background-color: var(--color-primary-green);
  color: black;
  padding: 5px 24px;
  font-weight: 600;
  font-size: 1rem;
  
  border-radius: 999px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.custom-submit-btn:hover {
  background-color: var(--color-primary-green);
  color: black;
}
