.tab-item {
  border-bottom: 2px solid transparent;
  padding-bottom: 4px;
  transition: border-color 0.3s ease;
}

.tab-item.active {
  border-bottom: 2px solid #ffffff; /* or use another highlight color */
}

.main{
  position: relative;
  .actionIcon{
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 35px);
    width: 70px;
    z-index: 11;
}
}
