.swiper-pagination-bullet {
    background: #ffff;
    /* Default bullet color */
    opacity: 1;
    /* Make all bullets visible */
}

/* Active bullet */
.swiper-pagination-bullet-active {
    background: #0d6efd;
    /* Active bullet color (e.g., Bootstrap blue) */
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .carousel-img{
        height: 100% !important;
    }
}