

:root {
  --color-background: #050A30;
  --color-primary-green: #00E396;
  --color-white: #FFFFFF;
  --color-light-purple: #B9B6F6;
  --color-coin-yellow: #FFB800;
  --color-card-blue: #00B8F4;
  --color-success-green: #35C759;
  --color-border: #2C3D55;
}


    /* Optional CSS */
.table {
  border-radius: 12px;
   --bs-table-bg: var(--color-border) !important;

}
.table tr{
  background-color: "#ffffff" !important;
}

.table th, .table td {
  vertical-align: middle;
}

.inputFiled-background{
  background-color: var(--color-border) !important;
}

hr {
    display: block;
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
    margin-inline-start: auto;
    margin-inline-end: auto;
    unicode-bidi: isolate;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

/* Card Styles */
.card{
  background-color: var(--color-border) !important;
  border: 2px solid #ffffff !important;
}

.custom-button{
  background-color: var(--color-primary-green);
  color: #000000;
}

.client-page-background{
  background-color: var(--color-background);
}

.finter-bottom-button{
  background-color: var(--color-primary-green);
  color: #000000;
}

.custom-slider {
  accent-color: #ff4d4d; /* red thumb */
  /* background: linear-gradient(to right, #004aad 0%, #004aad 100%); */
  height: 4px;
  border-radius: 5px;
}




/* sidebar date picker */
/* Dark calendar background and white text */
.dark-calendar {
  background-color: #1f1f1f;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 6px;
}

.dark-calendar .react-datepicker__header {
  background-color: var(--color-border);
  border-bottom: 1px solid #333;
}

.dark-calendar .react-datepicker__current-month {
  color: var(--color-primary-green);
}

.dark-calendar .react-datepicker__day,
.dark-calendar .react-datepicker__day-name {
  color: var(--color-primary-green);
}

.dark-calendar .react-datepicker__day--selected {
  background-color: var(--color-primary-green);
  color: #000000;
  border-radius: 50%;
}

.dark-calendar .react-datepicker__day--keyboard-selected {
  background-color: var(--color-border) !important;
  color: white;
}

.react-datepicker{
  background-color: var(--color-background) !important;
}

/* Speed-date modal style on hot date page */
.custom-modal-width{
  max-width: 650px !important;
}
@media only screen and (max-width: 767px) {
  .custom-modal-width{
  max-width: 280px !important;
}
}
.modal-bg{
  background-color: var(--color-background) !important;
}
.custom-modal .btn-close {
  filter: invert(1);
}
.custom-modal .btn-close::before {
  color: white;
}
.modal-content{
border: 2px solid #ffffff !important;
}
.custom-modal .btn-close {
  display: none; /* Hides default Bootstrap close button */
}
.custom-close-btn {
  position: absolute;
  top: -12px;
  right: -35px;
  color: white;
  font-size: 2.5rem;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1056;
}

.filterTypeName{
  color: var(--color-primary-green);
}

.traveldateRighttext{
  color: var(--color-primary-green);
}

.custom-calendar-width {
  width: 50% !important; /* Take full width of parent */
  max-width: 50%;        /* Adjust this as per your design */
  min-width: 50%;        /* Optional: set a minimum */
}

.custom-datepicker-wrapper {
  width: 50% !important;  /* Wrapper to control overflow */
}

.custom-input-speeddate::placeholder {
  color: #ffffff !important; /* Light gray or your desired color */
  opacity: 1; /* Ensure visibility on Firefox */
}

/* popup modal css */
.popup-modal{
  background-color: var(--color-background);
}