:root {
  --color-background: #050A30;
  --color-primary-green: #00E396;
  --color-white: #FFFFFF;
  --color-light-purple: #B9B6F6;
  --color-coin-yellow: #FFB800;
  --color-card-blue: #00B8F4;
  --color-success-green: #35C759;
  --color-border: #2C3D55;
}