

:root {
  --color-background: #050A30;
  --color-primary-green: #00E396;
  --color-white: #FFFFFF;
  --color-light-purple: #B9B6F6;
  --color-coin-yellow: #FFB800;
  --color-card-blue: #00B8F4;
  --color-success-green: #35C759;
  --color-border: #2C3D55;
}


    /* Optional CSS */
.table {
  border-radius: 12px;
   --bs-table-bg: #343a40 !important;
}
.table tr{
  background-color: "#ffffff" !important;
}

.table th, .table td {
  vertical-align: middle;
}

hr {
    display: block;
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
    margin-inline-start: auto;
    margin-inline-end: auto;
    unicode-bidi: isolate;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

